extends ../layout

block content
  div(class="d-flex flex-row content mx-auto")
    div(class="profile-container")
      include ../includes/profile
    div(class="flex-fill")
      form(class="card" method="post" action= trade._id ? "/trades/update/" + trade._id : "/trades")
        div(class="card-header") Ecrire un trade
        div(class="card-body")
          div(class="mb-3")
            textarea(class="form-control" name="content" placeholder="What is happening")= trade.content
          if errors
            ul(class="my-2")
              each error in errors
                li(class="text-danger")= error
          div(class="w-100")
            input(type="submit" value="Send" class="btn btn-primary ms-auto d-block")